.form{
    position: absolute;
    left: 30vw;
    width: 50vw;
    height: 60vh;
    background: lightgray;
}

.form-non{
    visibility: hidden;
}

.space1{
    position: relative;
    left: 130px;
    width: 30vw;
    height: 60px;
    background:  lightblue;
    top: 80px;
}

.space2{
    position: relative;
    left: 130px;
    width: 30vw;
    height: 60px;
    background: lightblue;
    top: 130px;
}

.space3{
    position: relative;
    left: 130px;
    width: 30vw;
    height: 60px;
    background: lightblue;
    top: 180px;
}

.space4{
    position: relative;
    left: -160px;
    width: 10vw;
    height: 40px;
    background: black;
    top: 260px;
}

.title{
    position: absolute;
    left: 140px;
    height: 40px;
    top: 0px;
}